.carousel_container {
  width: 30em;
  min-width: 15em;
  position: relative;
  border-radius: 1em;
  /* padding: 0 0 3em 0; */
  height: fit-content;
  overflow: hidden; /* Ensure the overlay doesn't overflow the container */
}

.carousel_slide {
  display: flex;
  border-radius: 1em !important;
  justify-content: center;
  align-items: center;
  position: relative; /* Needed for absolutely positioned elements */
}

.carousel_image {
  width: 100%;
  height: 350px; /* Set the desired height for images */
  object-fit: cover;
  border-radius: 1em;
}

.carousel_slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1em;
  pointer-events: none; /* Ensure the overlay does not interfere with interactions */
}

/* .slick_prev,
.slick_next {
  z-index: 100;
  top: 360px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
} */

/* .slick_prev:hover,
.slick_next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.slick_prev {
  left: 125px;
}

.slick_next {
  right: 90px;
}

.slick_prev::before,
.slick_next::before {
  font-size: 20px;
  line-height: 33.5px;
} */

/* .slick-dots {
  bottom: -50px;
}

.slick-dots li button {
  color: gray;
}

.slick-dots li.slick-active button {
  color: white;
} */

@media (max-width: 1011.5px) {
  .carousel_container {
    width: 25em;
  }
}

@media (max-width: 854.5px) {
  .carousel_container {
    width: 23em;
  }

  .carousel_image {
    height: 300px; /* Set the desired height for images */
  }
}

@media (max-width: 742.5px) {
  .carousel_container {
    width: 15em;
  }

  .carousel_image {
    height: 200px; /* Set the desired height for images */
  }
}

@media (max-width: 614px) {
  .card {
    flex: 0 1 calc(48% - 10px);
  }
}

@media (max-width: 412.5px) {
  .carousel_container {
    width: 100%;
  }

  .carousel_image {
    height: 200px; /* Set the desired height for images */
  }
}
