* {
  user-select: none;
}

.card {
  overflow: hidden;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.322);
  min-width: 20rem;
  max-width: 20rem;
  display: flex;
  flex-wrap: nowrap;
  min-height: 28rem;
  border-radius: 20em 20em 1em 1em;
  min-width: calc(100% / 5);
  backdrop-filter: blur(8px);
}

#cardTitle {
  color: var(---yellowColor);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageContainer {
  overflow: hidden;
  width: 17em;
  margin: 1em auto;
  border-radius: 50%;
  height: 17em;
  border: 2px solid;
  padding: 0.7em;
}

.imageContainer:hover .cardImage {
  transform: scale(1.1);
}

.cardImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover !important;
  transition: 0.3s ease-in-out;
}

.quantityBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.quantityBoxParent {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
  height: 1.6em;
}

.quantityBoxParent button {
  width: 2em;
  background-color: transparent;
  color: white !important;
  border: solid 2px white;
  text-align: center;
  font-weight: bolder;
  border-radius: 6px;
  height: 2em;
}

.quantityBoxParent > input {
  width: 2em;
  text-align: center;
  border: solid 2px white;
  background-color: white;
  border: none;
  color: black;
  border-radius: 6px;
  font-weight: bold;
  cursor: default;
  user-select: none;
  height: 2em;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100% !important;
}

.cartBtn div * {
  color: var(---secMainColor);
}

.cartBtn {
  background-color: var(---yellowColor) !important;
  color: var(---yellowColor) !important;
  display: flex;
  width: 7em;
}

.cartBtn i,
.cartBtn div {
  color: var(---secMainColor) !important;
  font-weight: bolder;
}

.cartAndOrderBtn,
.updateandDeleteBtn {
  background-color: var(---yellowColor);
  color: var(---secMainColor) !important;
  font-weight: bolder;
  border: 2px solid var(---yellowColor);
  transition: 0.2s;
}

.cartAndOrderBtn:hover,
.updateandDeleteBtn:hover {
  border: 2px solid var(---yellowColor);
  color: aliceblue;
  background-color: transparent;
}

.updateandDeleteBtn {
  text-decoration: none;
  padding: 0.6em 0.7em;
  border-radius: 6px;
}

.descriptionText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 926.5px) {
  .card {
    margin: 0 10px;
    min-width: 15rem;
    max-width: 15rem;
    min-height: 22rem;
    /* min-width: calc(100% / 5); */
  }

  .imageContainer {
    width: 12em;
    margin: 1em auto 0;
    border-radius: 50%;
    height: 12em;
    padding: 0.3em;
  }

  .quantityBox {
    display: flex;
    gap: 0.3em;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: fit-content;
    padding: 0;
    margin: 0;
  }

  .quantityBoxParent {
    display: flex;
    gap: 0.3em;
    justify-content: flex-start;
    align-items: start;
    height: fit-content;
  }

  .quantityBoxParent button {
    width: 1.5em;
    height: 1.5em;
  }

  .quantityBoxParent > input {
    width: 1.5em;
    height: 1.5em;
  }

  .quantityBox > div:last-child {
    font-size: 1em !important;
  }

  .cartBtn {
    width: 6em;
    height: 2em !important;
  }

  .cartBtn i {
    position: relative;
    top: -0.6em;
  }

  .cartBtn i,
  .cartBtn div {
    color: var(---secMainColor) !important;
    font-weight: bolder;
    font-size: 0.9em;
  }

  .buttons {
    margin: 0 !important;
    padding: 0.6em !important;
  }
}

@media (max-width: 717.5px) {
  .card {
    margin: 0 3px;
    min-width: 11rem;
    max-width: 13rem;
    min-height: 18rem;
    /* min-width: calc(100% / 5); */
  }

  .imageContainer {
    width: 8em;
    margin: 1em auto 0;
    border-radius: 50%;
    height: 8em;
    padding: 0.3em;
  }

  .quantityBox {
    display: flex;
    gap: 0.3em;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: fit-content;
    /* background-color: rgb(159, 159, 159); */
    padding: 0;
    margin: 0;
  }

  .quantityBoxParent {
    display: flex;
    gap: 0.3em;
    justify-content: flex-start;
    align-items: start;
    height: fit-content;
  }

  .quantityBoxParent button {
    width: 1.5em;
    height: 1.5em;
  }

  .quantityBoxParent > input {
    width: 1.5em;
    height: 1.5em;
  }

  .quantityBox > div:last-child {
    font-size: 1em !important;
  }

  .cartBtn {
    width: 5em;
    height: 2em !important;
  }

  .cartBtn i {
    position: relative;
    top: -0.6em;
  }

  .cartBtn i,
  .cartBtn div {
    color: var(---secMainColor) !important;
    font-weight: bolder;
    font-size: 0.8em;
  }

  .buttons {
    margin: 0 !important;
    padding: 0.5em !important;
  }
}

@media (max-width: 428.5px) {
  .card {
    margin: 0 3px;
    min-width: 10rem;
    max-width: 10rem;
    min-height: 18rem;
    /* min-width: calc(100% / 5); */
  }

  .imageContainer {
    width: 8em;
    margin: 1em auto 0;
    border-radius: 50%;
    height: 8em;
    padding: 0.3em;
  }

  .quantityBox {
    display: flex;
    gap: 0.3em;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: fit-content;
    /* background-color: rgb(159, 159, 159); */
    padding: 0;
    margin: 0;
  }

  .quantityBoxParent {
    display: flex;
    gap: 0.3em;
    justify-content: flex-start;
    align-items: start;
    height: fit-content;
  }

  .quantityBoxParent button {
    width: 1.5em;
    height: 1.5em;
  }

  .quantityBoxParent > input {
    width: 1.5em;
    height: 1.5em;
  }

  .quantityBox > div:last-child {
    font-size: 1em !important;
  }

  .cartBtn {
    width: 4.4em;
    height: 2em !important;
  }

  .cartBtn i {
    position: relative;
    top: -0.6em;
  }

  .cartBtn i,
  .cartBtn div {
    color: var(---secMainColor) !important;
    font-weight: bolder;
    font-size: 0.8em;
  }

  .buttons {
    margin: 0 !important;
    padding: 0.2em !important;
  }
}
