@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+IT+Trad:wght@100..400&display=swap");

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

.showCase {
  /* background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2lzMTYwNjItaW1hZ2Uta3d2eWZrd3IuanBn.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 10em 6em;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  height: fit-content;
}

/* .showCase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
  filter: blur(3px) brightness(0.3);
  z-index: 0;
  transform: scale(1.05);
  height: 43rem;
}

.showCase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 36, 36, 0.494);
  z-index: -1;
  pointer-events: none;
} */

.text {
  /* position: absolute; */
  z-index: 1;
}

.text > p:nth-of-type(1) {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  padding: 0;
  margin: 0;
}

.text > p:nth-of-type(2) {
  font-family: "Playwrite IT Trad", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 2.4em;
  word-spacing: 0.4em;
  padding: 0;
  margin: 1em 1em;
}

.text > p span {
  color: var(---yellowColor);
}

@media (max-width: 1184.5px) {
  .showCase {
    padding: 7em 3em 3em;
  }

  .text > p:nth-of-type(1) {
    font-size: 4.2em;
  }
}

@media (max-width: 950.5px) {
  .showCase {
    padding: 5em 2em 3em;
  }

  .text > p:nth-of-type(1) {
    font-size: 3.7em;
  }

  .text > p:nth-of-type(2) {
    font-size: 2em;
  }
}

@media (max-width: 854.5px) {
  .showCase {
    padding: 7em 2em 3em;
  }

  .text > p:nth-of-type(1) {
    font-size: 3em;
  }
}

@media (max-width: 742.5px) {
  .showCase {
    /* flex-direction: column-reverse; */
    padding: 7em 1em 3em;
  }

  .text > p:nth-of-type(1) {
    font-size: 3em;
  }
  .text > p:nth-of-type(2) {
    font-size: 1.5em;
  }
}

@media (max-width: 480.5px) {
  .showCase {
    flex-direction: column-reverse;
    padding: 7em 1em 3em;
  }

  .text > p:nth-of-type(1) {
    font-size: 2em;
  }
  .text > p:nth-of-type(2) {
    font-size: 1em;
  }
}

@media (max-width: 412.5px) {
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    justify-content: space-evenly;
  }

  .showCase {
    padding: 7em 1em 3em;
  }

  .text > p:nth-of-type(1) {
    font-size: 2em;
  }
  .text > p:nth-of-type(2) {
    font-size: 1em;
  }
}
