.card {
  position: absolute;
  top: 5rem;
  right: 1.3rem;
  width: 20rem;
  transition: 0.3s;
  z-index: 100;
  /* position: relative; */
}

.card .imageContainer {
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
}

.imageContainer img {
  width: 100% !important;
  height: 100% !important;
  border-radius: inherit !important;
  object-fit: cover;
  cursor: pointer;
}

.editBtn {
  background-color: rgba(0, 0, 0, 0.337);
  z-index: 10;
  border-radius: inherit;
  padding: 1rem 0;
  width: 100%;
  position: absolute !important;
  transition: 0.3s;
  /* top: 1rem; */
  opacity: 0;
  cursor: pointer;
}

.imageContainer:hover .editBtn {
  opacity: 1;
}

.name,
.email {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  /* width: 12rem; */
  cursor: auto;
}

.input {
  background-color: transparent;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.448) !important;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  width: 12rem;
}

.nameContainer i {
  font-size: 1rem !important;
}

.descriptionContainer,
.nameContainer {
  display: flex !important;
  gap: 1rem;
  /* background-color: aqua; */
  /* width: 12rem; */
}

.descriptionContainer div i,
.nameContainer div i {
  cursor: pointer;
  color: var(---secMainColor) !important;
  /* background-color: aqua; */
}
