.card {
  position: absolute;
  top: 5em;
  right: 0.3em;
  width: 20rem;
  transition: 0.3s;
  z-index: 100;
  /* position: relative; */
}

.card .imageContainer {
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
}

.container {
  background-color: var(---mainColor) !important;
}

.imageContainer img {
  width: 100% !important;
  height: 100% !important;
  border-radius: inherit !important;
  object-fit: cover;
  cursor: pointer;
}

.editBtn {
  background-color: rgba(0, 0, 0, 0.337);
  z-index: 10;
  border-radius: inherit;
  padding: 1rem 0;
  width: 100%;
  position: absolute !important;
  transition: 0.3s;
  /* top: 1rem; */
  opacity: 0;
  cursor: pointer;
}

.imageContainer:hover .editBtn {
  opacity: 1;
}

.buttonContainer button:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.548);
}

.name,
.email {
  background-color: transparent !important;
  color: var(---primaryColor) !important;
  border: none !important;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  /* width: 12rem; */
  cursor: auto;
}
.role {
  background-color: transparent;
  color: rgb(168, 166, 165) !important;
  border: none;
  font-size: 0.8rem !important;
  cursor: auto;
}

.input {
  background-color: transparent !important;
  color: rgb(168, 166, 165) !important;
  border: none !important;
  outline: none !important;
  font-size: 1rem;
  font-weight: bold;
  width: 12rem;
  cursor: auto;
}

.nameContainer i {
  font-size: 1rem !important;
}

.descriptionContainer,
.nameContainer {
  display: flex !important;
  gap: 1rem;
}

.descriptionContainer div i,
.nameContainer div i {
  cursor: pointer;
  color: var(---secMainColor) !important;
  /* background-color: aqua; */
}

@media screen and (max-width: 991.5px) {
  .card {
    top: 14.7em !important;
    right: 0;
  }
}
