.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  background-color: var(---yellowColor);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input[type="email"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: var(---secMainColor);
  border: 2px solid var(---secMainColor);
  color: #fff;
  text-align: center;
  transition: 0.2s;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed !important;
}

.button:hover {
  border: 2px solid var(---secMainColor);
  background-color: transparent;
  color: var(---secMainColor);
}
