@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Dancing+Script:wght@600&family=Fugaz+One&family=Kalam&display=swap");

@import "/node_modules/slick-carousel/slick/slick.css";
@import "/node_modules/slick-carousel/slick/slick-theme.css";

:root {
  ---primaryColor: #f7f1e5;
  ---secColor: #898121;
  ---mainColor: #242424;
  ---secMainColor: #b91b03;
  ---yellowColor: rgb(255, 174, 0);

  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  color: var(---primaryColor);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  width: 98.72vw;
  height: 100vh;
} */

body {
  background-color: #242424;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 6px; /* Adjust width as needed */
}

/* Change scrollbar track color */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change color as needed */
}

/* Change scrollbar thumb color */
::-webkit-scrollbar-thumb {
  background: #888; /* Change color as needed */
}

/* Change scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #686868; /* Change color as needed */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
